@import "tailwindcss";

/* 1. Define your fonts with the *exact* font-family name */
@font-face {
  font-family: "Sora"; /* This is the key name */
  src: url("/fonts/Sora-ExtraBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PlayFair"; /* This is the key name */
  src: url("/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* 2. Map the font-family names to CSS variables using the correct format */
@theme {
  /* Use the *unquoted* name from the @font-face as the value*/
  --font-Lato: Lato;
  --font-Sora: Sora;
  --font-PlayFair: PlayFair;
  /* Your colors are fine */
  --color-Card1: #e5d9f6;
  --color-Card2: #ffd2f3;
  --color-Card3: #fcdca6;
  --color-Bg: #f9f4eb;
  --color-Bg2: #1e1e1e;
}

/* 3. Global application (Optional, but ensures the font is used if no Tailwind class is present) */
body {
  background-color: #f9f4eb;
  overflow-x: hidden;
  overflow-y: scroll; /* allows vertical scrolling */
  scrollbar-width: none; /* hides scrollbar in Firefox */
  -ms-overflow-style: none; /* hides scrollbar in IE and Edge */
  /* Use the *exact* name from the @font-face rule. Adding a fallback is good practice. */
}

html::-webkit-scrollbar {
  display: none; /* hides scrollbar in Chrome, Safari, Opera */
}

p {
  font-family: Lato "serif";
}
.folder-tab {
  position: relative;
  width: 28%;
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--card3);
  font-family: Lato;
  font-size: 0.875rem; /* text-sm */
}

.folder-tab::after {
  content: "";
  position: absolute;
  top: 0;
  left: 99%;
  width: 20px;
  height: 100%;
  background-color: var(--card3);
  clip-path: polygon(0 0, 30% 0, 100% 100%, 0 100%);
}

.pre-loader,
.preloader-images {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  will-change: clip-path;
}
.preloader-img {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  will-change: clip-path;
}
/* #hero-card1,
#hero-card2,
#hero-card {
  animation: floating 2s infinite ease;
} */

@keyframes floating {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-55%);
  }
  100% {
    transform: translateY(-50%);
  }
}

#hero-card1 {
  animation-delay: 0s;
}

#hero-card2 {
  animation-delay: 0.25s;
}

#hero-card3 {
  animation-delay: 0.5s;
}
/* In global.css */
.cursor-none {
  cursor: none;
}
